h1 {
  font-size: 46px;
  color: #80bfff;
  font-family: 'Palatino Linotype', 'Book Antiqua3', 'Palatino6', serif;
}
h2 {
  font-size: 36px;
  line-height: 10px;
}
h3{
  line-height: 10px;
}
h4{
  line-height: 10px;
}
p {
color: red;
}
