h1 {
 font-size: 46px;
  color: #80bfff;
  font-family: 'Palatino Linotype', 'Book Antiqua3', 'Palatino6', serif;
}
h2 {
  font-size: 36px;
}
h3{
}
h4{
 
}
p {
  font-size: 16px;
  
}
body {
  padding: 0px 0px 75px;
}
