 <style>
	.contact-name {
		color: #66b3ff;
		font-size: 56px;
		margin-bottom: 10px;
	  }
	.subhead {
		color: #66b3ff;
		font-size: 32px;
		margin-bottom: 10px;
	  }
	.job-position {
		font-size: 22px;
		margin-bottom: 2px;
	  }
	#container {
		margin-top: 20px;
    		margin-left: 100px;
    		margin-right: 100px;
		padding: 10px 150px 10px 150px;
	  }
	</style>
 
